* {
    margin: 0;
}

.banner-section {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
}

.banner-content {
    max-width: 531px;
    margin: 148px 0px 110px 150px;
}

.banner-content h1 {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
}

.para {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.5px;
    margin: 24px 0px;
}

.btn {
    padding: 15px 33px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    border: none;
}

.btn:hover {
    background: transparent;
    border: 2px solid #E55473;
    color: #E55473;
    transition: 0.5s;
}

.banner-photo img {
    max-width: 100%;
    max-height: 600px;
    margin: 37.5px 95px 0px 65px;
}

.featured-section {
    margin: 133px 0px;
    text-align: center;
}

.feature-heading {
    margin: 0px auto;
    max-width: 445px;
}

.heading {
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
}

.feature-flower {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}

.flower-item1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-item1 img {
    padding: 82.5px 58px 0px 58px;
}

.flower-item2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.flower-item2 img {
    padding: 88px 35px 38px 35px;
}

.flower-item3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flower-item3 img {
    padding: 50px 56px 0px 56px;
}

.services {
    max-width: 1080px;
    margin: 0px auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.supports {
    padding: 64.5px 131px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.serve p {
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 18px;
}

.offer-section {
    margin-top: 96px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.offer-content {
    padding: 75px 280px;
    display: flex;
    justify-content: space-between;
}

.offer-details {
    max-width: 440px;
    text-align: center;
    margin: auto 0px;
}

.marked {
    color: #E55473;
}

.offer-prize img {
    width: 238.5px;
    height: 315px;
}

.media-section {
    margin: 0px auto;
    margin-top: 96px;
    max-width: 1080px;
    text-align: center;
}

.media-details {
    max-width: 445px;
    margin: 0px auto;
}

.media-profile {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.media-profile img {
    width: 256px;
    height: 297px;
}

.media-profile img:hover{
    border: 1px solid #E55473;
}

.newsletter {
    max-width: 1080px;
    margin: 0px auto;
    margin-top: 96px;
    background: url('../Flower Asset/Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.news-details {
    text-align: center;
    margin: 0px auto;
    padding: 90px 0px;
}

.news-details input {
    width: 500px;
    height: 45px;
    border: none;
    border-radius: 8px;
    padding-left: 25px;
    margin-right: 12px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.contact{
    margin-top: 96px;
    background: #111010;
}

.contact-details{
    max-width: 470px;
    padding: 96px 0px;
    margin: 0px auto;
    text-align: center;
}

.contact-details p{
    color: rgba(255, 255, 255, 0.90);
}

.contact-details .licence{
    color: rgba(255, 255, 255, 0.40);
}